@font-face {
  font-family: 'GothamCond-Black';
  src: local('GothamCond-Black'), url(./GothamCond-Black.otf) format('truetype');
}

@font-face {
  font-family: 'Futura';
  src: local('Futura'), url(./Futura.ttc) format('truetype');
}

body {
  font-family: "Futura", arial !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.back {
  color: white;
  background: #000;
}

.wrapper-home {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  margin-bottom: 10px;
}

.box {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid rgb(50 176 3/95%);
  background: #000;
  padding: 30px;
}

.share-button i {
  font-size: 30px;
}

.btn {
  background: #2fa703;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  
}
h1, h2, h3, h4, h5 {
  font-family: "Futura", arial;
}
.spec-header{
  margin-top: 0;
  padding: 10px;
  text-align: center;
  font-family: "Futura", arial;
  font-size: 32px;
}
.spec-sub-header {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.form-box {
  /* padding: 10px; */
}
.box .form-group {
  border: 1px solid rgb(255 255 255 / 25%);
}
.box .form-group .text {
  line-height: 40px;
    padding: 0 14px;
    background: rgb(255 255 255 / 25%);
}
.form-control.meme-input{
  width: 100%;
  background: transparent !important;
  border: none !important;
  height: 40px;
  border-radius: 0;
  color: #fff !important;
}
.form-control.meme-input:focus{
  background: transparent !important;
  color: #fff !important;
  border: 0 !important;
    outline: none;
    box-shadow: none !important;
}
.upload-btn-wrapper {
  position: relative;
  padding-top: 10px;
}
.upload-btn-wrapper input[type=file].input-file {
  position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}
.upload-btn-wrapper .btn {
  width: 100%;
}
.button {
  display: inline-block;
    background: none;
    padding: 0;
    border: 0;
    margin-top: 10px;
}

.text {
  padding-right: 8px;
  font-size: large;
  font-weight: bolder;
}

.meme {
  /* width: 600px; */
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 30px;
  /* position: relative; */
}
.meme img {
  max-width: 100%;
}
.meme svg {
  visibility: hidden;
  position: absolute;
    top: 0px;
    left: 0;
}

.home-spec-info {
  padding: 20px 30px 30px;
  border: 1px solid rgb(50 176 3/95%);
  background: #000;
  margin-bottom: 30px;
}

#canvas {
  width: 0px;
  height: 0px;
}

.notification-container {
  box-shadow: none;
}
.notification {
  box-shadow: none;
}

.footer {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 20px;
  font-size: 12px;
}