@font-face {
  font-family: 'GothamCond';
  src: local('GothamCond'), url(./GothamCond-Black.otf) format('truetype');
}

@font-face {
  font-family: 'Futura';
  src: local('Futura'), url(./Futura.ttc) format('truetype');
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.back {
  color: white;
  background: #000;
}

.wrapper-home {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  margin-bottom: 10px;
}

.box {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.share-button i {
  font-size: 30px;
}

.btn {
  background: #2fa703;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
}

.spec-header{
  margin-top: 0;
  padding: 10px;
  text-align: center;
  font-family: "Futura";
  font-size: 40px;
}

.form-box {
  padding: 10px;
}

.meme-input{
  height: 30px;
  width: 100%;
}

.button {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  padding-right: 8px;
  font-size: large;
  font-weight: bolder;
}

.meme {
  width: 600px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 30px;
}